<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Random Users</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>
        <div id="app">
            <div class="container">
                <h1 class="mt-4">Random Users</h1>

                <!-- API Controls -->
                <form>
                    <!-- Select Number of Results -->
                    <div class="form-group">
                      <label for="numberOfResults">Number of Results</label>
                      <input type="number" pattern="[0-9]*" class="form-control w-25" id="numberOfResults" aria-describedby="numberOfResultsHelp">
                      <small id="numberOfResultsHelp" class="form-text text-muted">Choose between 1 and 500</small>
                    </div>

                    <!-- Select Results per Page -->
                    <div class="form-group">
                        <label for="resultsPerPage">Results per Page</label>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="resultsPerPage" id="resultsPerPage10" value="10">
                                <label class="form-check-label" for="resultsPerPage10">10</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="resultsPerPage" id="resultsPerPage25" value="25">
                                <label class="form-check-label" for="resultsPerPage25">25</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="resultsPerPage" id="resultsPerPage50" value="50">
                                <label class="form-check-label" for="resultsPerPage10">50</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="resultsPerPage" id="resultsPerPageInfinite" value="infinite">
                                <label class="form-check-label" for="resultsPerPageInfinite">Infinite Scroll</label>
                            </div>
                        </div>
                    </div>

                    <!-- Select Sorting Option -->
                    <div class="form-group">
                        <label for="sortingOption">Sorting</label>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sortingOption" id="random" value="random">
                                <label class="form-check-label" for="random">Random</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sortingOption" id="alphLast" value="alphLast">
                                <label class="form-check-label" for="alphLast">Last, First</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sortingOption" id="alphFirst" value="alphFirst">
                                <label class="form-check-label" for="alphFirst">First, Last</label>
                            </div>
                        </div>
                    </div>

                    <!-- Submit Form -->
                    <button type="submit" id="submitBtn" class="btn btn-primary mb-2">Get Random Users</button>
                </form>

                <!-- Navigation -->
                <nav class="mt-4">
                    <ul class="pagination justify-content-center text-center">
                        <li id="prevPage" class="page-item w-100" v-bind:class="{ disabled: currentPage == 0 }">
                            <a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                        <li class="page-item w-100" v-for="(page, index) in pages" v-if="(index > currentPage - 3 || index > pages.length - 6) && (index < currentPage + 3 || index < 5)" v-bind:key="index" v-bind:class="{ active: index == currentPage }">
                            <a class="page-link pageNumber" href="#" v-if="index != currentPage">{{ index + 1 }}</a>
                            <span class="page-link" v-else>{{ index + 1 }}</span>
                        </li>
                        <li id="nextPage" class="page-item w-100" v-bind:class="{ disabled: currentPage == pages.length - 1 }">
                            <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    </ul>
                </nav>
                
                <!-- User List -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item media" v-for="(user, index) in pages[currentPage]" v-bind:key="index">
                        <div class="media">
                            <img class="rounded-circle mr-3" v-bind:src="user.picture.thumbnail" />
                            <div class="media-body">
                                <p>
                                    <strong>{{ user.name.first }} {{ user.name.last }}</strong><br />
                                    {{ user.email }}<br />
                                    {{ user.phone }}
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script>
            // Vue Instance
            const vm = new Vue({
                el: '#app',
                data: {
                    users: null,
                    pages: [],
                    currentPage: null,
                }
            });

            // API Controls Function
            const submitAPI = (e) => {
                e.preventDefault();

                // Find selected number of results
                const numberOfResults = document.querySelector('#numberOfResults').value;
                if (numberOfResults % 1 == 0 && numberOfResults > 0 && numberOfResults < 501) {
                    document.querySelector('#numberOfResults').value = '';

                    // Find selected results per page
                    const resultsPerPageInputs = document.querySelectorAll('input[name="resultsPerPage"]');
                    let resultsPerPage;
                    for (input of resultsPerPageInputs) {
                        if (input.checked) {
                            resultsPerPage = input.value;
                            document.querySelector('nav').style.visibility = '';
                            if (resultsPerPage == 'infinite') {
                                resultsPerPage = numberOfResults;
                                document.querySelector('nav').style.visibility = 'hidden';
                            }
                            input.checked = false;
                            break;
                        }
                    }

                    // Find selected sorting option
                    const sortingOptionInputs = document.querySelectorAll('input[name="sortingOption"]');
                    let sortingOption;
                    for (input of sortingOptionInputs) {
                        if (input.checked) {
                            sortingOption = input.value;
                            input.checked = false;
                            break;
                        }
                    }

                    // Run API
                    getUsers(numberOfResults, resultsPerPage, sortingOption);
                } else {
                    console.log('error')
                }
            };

            // Navigation Functions
            const prevPage = () => {
                if (vm.currentPage > 0) {
                    vm.currentPage--
                }
            };
            const pageLink = (e) => {
                if (e.target.classList.contains('pageNumber')) {
                    vm.currentPage = parseInt(e.target.textContent, 10) - 1;
                }
            };
            const nextPage = () => {
                if (vm.currentPage < vm.pages.length - 1) {
                    vm.currentPage++
                }
            };

            // Get Users Function
            const getUsers = async (numberOfUsers, resultsPerPage, sortingOption) => {
                await fetch(`https://randomuser.me/api/?nat=us&results=${numberOfUsers}&inc=name,location,email,dob,phone,picture`)
                .then(response => response.json())
                .then(data => {
                    console.log('Success: ', data);
                    vm.users = data.results;
                    vm.pages = [];
                    
                    // get number of results per page
                    const numResultsPerPage = parseInt(resultsPerPage, 10);

                    // if sorting option is alphabetical, sort the users
                    if (sortingOption == 'alphLast' || sortingOption == 'alphFirst') {
                        let sortingObj;
                        if (sortingOption == 'alphLast') {
                            sortingObj = { primary: 'last', secondary: 'first' };
                        } else if (sortingOption == 'alphFirst') {
                            sortingObj = { primary: 'first', secondary: 'last' };
                        }

                        ({ primary, secondary } = sortingObj);

                        vm.users.sort((a, b) => a.name[primary] < b.name[primary] ? -1 : a.name[primary] > b.name[primary] ? 1 : a.name[secondary] < b.name[secondary] ? -1 : a.name[secondary] > b.name[secondary] ? 1 : 0)
                    }

                    // populate user pages
                    for (let i = 0; i < vm.users.length / numResultsPerPage; i++) {
                        let page = []
                        for (let j = 0; j < numResultsPerPage; j++) {
                            if (j < vm.users.length - (i * numResultsPerPage)) {
                                page.push(vm.users[j + (i * numResultsPerPage)])
                            }
                        }
                        vm.pages.push(page);
                    }

                    vm.currentPage = 0;
                })
                .catch(error => console.log('Error: ', error))
            };


            // API Controls Listener
            document.querySelector('#submitBtn').addEventListener('click', submitAPI);

            // Navigation Listeners
            document.querySelector('#prevPage').addEventListener('click', prevPage);
            document.querySelector('#nextPage').addEventListener('click', nextPage);
            document.querySelector('nav').addEventListener('click', pageLink);

            // Page Load Listener
            document.addEventListener('DOMContentLoaded', () => getUsers('100', '10', 'random'));
        </script>
    </body>
</html>